@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
    /* Fonts */
    --font-poppins: "Poppins", sans-serif;

    /* Colours */
    --color-uniscan-100: #e5faf8;
    --color-uniscan-200: #ccf5f1;
    --color-uniscan-300: #b2f0ea;
    --color-uniscan-400: #99ebe3;
    --color-uniscan-500: #7fe6dc;
    --color-uniscan-600: #66b8b0;
    --color-uniscan-700: #4c8a84;
    --color-uniscan-800: #335c58;
    --color-uniscan-900: #192e2c;



    
}